---
import { SUPPORTED_LOCALES, type Locale } from '../../../i18n/config';
import { localePath } from '../../../i18n/utils';

export function getStaticPaths() {
  return SUPPORTED_LOCALES.map((lang) => ({ params: { lang } }));
}

const { lang } = Astro.params as { lang: Locale };
const locale = lang as Locale;

// Redirect to getting-started
const redirectUrl = localePath(locale, 'docs/getting-started');
---
<html lang={locale}>
  <head>
    <meta charset="UTF-8" />
    <link rel="canonical" href={redirectUrl} />
    <title>JARFIS Docs</title>
    <script is:inline define:vars={{ redirectUrl }}>
      window.location.replace(redirectUrl);
    </script>
    <noscript>
      <meta http-equiv="refresh" content={`0; url=${redirectUrl}`} />
    </noscript>
  </head>
  <body>
    <noscript>
      <p>Redirecting to <a href={redirectUrl}>Getting Started</a></p>
    </noscript>
  </body>
</html>
